/* Hero singleton */
div.hero {
	background-color: $border-bg-color;
	padding: ($section-padding * 2) 0 ($section-padding * 2 - $element-margin) 0;
	text-align: center;

	h1, h2, h3, h4, h5, h6 {
		font-size: $heading-1-font-size;
	}

	p {
		font-size: $subheading-1-font-size
	}

	@include breakpoint('medium') {
		padding: ($section-padding * 1.5) 0 ($section-padding * 1.5 - $element-margin) 0;
	}

	@include breakpoint('small') {
		padding: $section-padding 0 ($section-padding - $element-margin) 0;
	}
}
